body {
  background-color: #d4d1ce;
}
.welcome {
  text-align: center;
  font-size: large;
  color: rgba(16, 126, 84, 0.923);
  text-shadow: 10px;
}
.nav ul {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: rgb(198, 222, 225);
}
.nav ul li {
  list-style: none;
  display: inline;
  margin: 4px;
  overflow: hidden;
  text-decoration-line: none;
  filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.6));
  width: 50px;
  height: 0px;
}
.body {
  display: flex;
  background-color: #a99a86;
  background-image: url("./codecraft2.jpg");
  display: 50%;
  border-radius: 50px;
  height: 500px;
}

.nav ul li:hover {
  color: blueviolet;
  font-weight: bold;
  border-radius: 3px;
  background-color: black;
}
.body h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-left: 20px;
}
.body p {
  padding-top: 100px;
  font-size: large;
  font-weight: 50;
}
.dis {
  padding: 20px;
  margin: 5px;
  font-size: 25px;
}
.can {
  display: flex;
  padding: 10px;
  font-size: medium;
  font-family: cursive;
}
.con ul li {
  list-style-type: none;
  margin: 8px;
}
.con ul li:hover {
  font-size: large;
  margin-bottom: 2px;
}
